# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
 
    
    
# Import API key
from c import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [47]:
df = "Resources///cities.csv"

In [48]:
df = pd.read_csv(df)

In [22]:
df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [23]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [24]:
locations = df[["Lat", "Lng"]]
humidity = df["Humidity"]

In [25]:
fig = gmaps.figure(map_type='HYBRID')
heatmap_layer = gmaps.heatmap_layer(locations, humidity, dissipating=False)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [29]:
df = df.loc[(df['Max Temp'] >= 70) & (df['Wind Speed'] <= 10)]
df = df.dropna()
df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
12,12,avarua,100,CK,1558378756,94,-21.21,-159.78,71.60,2.24
20,20,teknaf,1,BD,1558378758,85,20.86,92.31,84.66,8.23
23,23,maragogi,97,BR,1558378610,69,-9.01,-35.22,83.94,9.42
25,25,kantang,20,TH,1558378759,94,7.42,99.52,78.80,6.93
26,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [31]:
hotel_df = df

In [40]:
hotel_df ["Hotel Name"] = pd.Series(np.random.randn(hotel_df), index=hotel_df.index)

TypeError: 'DataFrame' object cannot be interpreted as an integer

In [41]:
hotel_df = df.loc[(df['Max Temp'] >= 70) & (df['Max Temp'] <= 70) & (df['Wind Speed'] <= 10)]

In [43]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [44]:
# Add marker layer ontop of heat map

fig
# Display Map

Figure(layout=FigureLayout(height='420px'))